@charset "UTF-8";

:root {
    --fonte-primaria: #cacaca;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url("imagens/fundo-imagem.png");
    background-size: cover; 
    background-repeat: no-repeat; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-form {
    text-align: center;
    background-color: var(--fonte-primaria);
    border: 2px solid var(--fonte-primaria);
    border-radius: 10px;
    padding: 10px;
}

form {
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

h1 {
    color: #000000;
    text-align: center;
    text-shadow: 1px 1px 2px #ffffffa1;
}

